@{
    ViewData["Title"] = "Bserg";
}

<div class="title">
    <h1> BSERG </h1>
</div>
<div class="textbox-large" id="home">
    <div class="heading">
        <p>WEBSITE CONTENT</p>
    </div>
</div>

<a asp-action="Projects">
    <div class="textbox-large" id="projects">
        <div class="heading" style="cursor: pointer;">
            <p>PROJECTS</p>
        </div>
        <div class="content">
            <p>Ongoing</p>
            <p>Finished</p>
            <p>Learning Concepts</p>
        </div>
    </div>
</a>
<!--
<a asp-area="" asp-controller="Home" asp-action="Products">
    <div class="textbox-large">
        <div class="heading" style="cursor: pointer;">
            <p>PRODUCTS</p>
        </div>
        <div class="content">
            <p>Created</p>
            <p>Eat</p>
        </div>
    </div>
</a>
    -->
