.textbox-large {
    position: relative;
    margin: 30px 0px;
    background-color: inherit;
    color: ivory;
    transition: 0.1s;
}
.textbox-large#home{
    background-color: var(--main-blue);
}
.textbox-large#projects {
    background-color: var(--main-orange);
}
.textbox-large>.heading {
    cursor: default;
    font-size: inherit;
    text-align: center;
    font-size: 40px;
}
.textbox-large>.heading>*, .textbox-large>.content>* {
    font-size: inherit;
}
.textbox-large>.content {
    position: relative;
    font-size: 20px;
    background-color: hsl(0, 0%, 5%);
}
.textbox-large>.content p {
    padding-left: 20px;
}

.textbox-large .image {
    position: relative;
    width:100%;
    background-color: var(--main-green);
    padding: 10px;
}
.textbox-large .image>p {

    font-size: 14px;
    text-align: center;
    font-style: italic;
    /*background-color: hsl(0, 0%, 13%);*/

    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px 30px;
    bottom:10px;
    position:absolute;
}
.textbox-large .image>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.textbox-large>.content>.banner {
    position: absolute;
    width: 10px;
    left: 0;    
    height: 100%;
}

.textbox-large > .content li {
    padding:0;
}
.textbox-large>.content li>p {
    padding-left: 5px;
}